.navbar-rosa{
    background-color: #FDF1F5;
}

.btn-outline-primary{
    background-color: #bbaddd;
    border-color:rgb(87, 6, 87);
    color: rgb(83, 2, 83);
}

.btn-outline-success{
    background-color: #c2a0bd;
    border-color:rgb(59, 11, 59);
    color:white;
}
.div-carrusel {
    margin: auto;
    margin-top: 20px;
    height: 900px;
    width: 900px;
    object-fit: cover;
}

.titulo-bienvenida{
    font-size: 40px;
    text-align: center;
    color: rgb(48, 35, 63);
    margin-top: 20px;
}

.div-formulario{
    text-align: center;
    width: 80%;
    margin: auto;
}

.card-header{
    background-color:rgb(213, 209, 235);
    text-align: center;
    font-size: 35px;
    color: #4b4380;
    margin: auto;
    width: 500px;
}

.card{
    background-color:rgb(245, 244, 250);
    margin: auto;
    width: 500px;
    margin-top: 80px;
}

.btn-primary{
    background-color: #7caef3;
    border-color: #7caef3;
}


.page-footer{
    background-color: #a094eb;
    color: white;
}